.top{
    top:50px;
    height:100px;
    background-color: grey;
    color: beige;
    text-size-adjust: 250px;
    text-align: center;
}
.titles{
    height:50px;
    display:flexbox;
    flex-grow: 1;
    background-color: black;
    text-align: center;
    text-decoration:none;
}
#home{
    height:auto;
    color:black;
    background-color: azure;
    text-align: center;
}
#certificate{
    height:auto;
    color:black;
    background-color: azure;
    text-align: center;
}
#project{
    height:auto;
    color:black;
    background-color: azure;
    text-align: center;
}
#contact{
    color:whitesmoke;
    background-color: black;
    text-align: center;
}